<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"

      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>

    </h:head>

    <h:body>
        <h:form>
            <p:messages autoUpdate="true"/>
            <h:panelGrid columns="2" >
            <h:outputLabel for="ingredientName" value="Nazwa składnika:" />
            <p:inputText id="ingredientName" value="#{addIngredientDialog.ingredientName}" required="true" label="Nazwa składnika" />
            
            <h:outputLabel for="weightInGrams" value="Waga w gramach:" />
            <p:inputText id="weightInGrams" value="#{addIngredientDialog.weightInGrams}" required="true" label="Waga w gramach">
            <f:validateDoubleRange minimum="1" maximum="5000" />
            </p:inputText>
            
            <p:commandButton value="Dodaj składnik" actionListener="#{addIngredientDialog.addIngredientToPositionForDialog}" />
            </h:panelGrid>
        </h:form>
    </h:body>

</html>

