<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"

      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>

    </h:head>

    <h:body>
        <h:form id="adPosForm" enctype="multipart/form-data">
            <p:messages autoUpdate="true" />
            <h:panelGrid id="grid" columns="4" cellpadding="5">
                <p:inputText id="positionName" label="Nazwa pozycji" 
                             value="#{editCategory.positionNameInDialog}" required="true" />
                <p:commandButton value="Dodaj" icon="ui-icon-check"
                                 actionListener="#{editCategory.addPositionFromDialog()}"
                                 validateClient="true"
                                 update="adPosForm"/>
            </h:panelGrid>
        </h:form> 
    </h:body>

</html>

