<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Menadżer menu</title>
    </h:head>
    <h:body>
        <h1 class="title ui-widget-header ui-corner-all">Menadżer menu</h1>
        <p:messages autoUpdate="true"/>
        <p:accordionPanel id="accPanel">
            <p:tab title="Dodaj kategorię">
                <h:form id="addCatForm">
                    <h:panelGrid id="grid" columns="4" cellpadding="5">
                        <p:inputText id="categoryName" label="Nazwa kategorii" 
                                     value="#{addCategory.categoryName}" required="true" />
                        <p:commandButton value="Dodaj" icon="ui-icon-check"
                                         actionListener="#{addCategory.addCategory}"
                                         validateClient="true"
                                         update=":accPanel:addCatForm :accPanel:editCategoryForm"/>
                    </h:panelGrid>
                </h:form>
            </p:tab>
            <p:tab title="Edytuj kategorię">
                <h:form id="editCategoryForm">
                    <h:panelGrid columns="3">
                        <p:selectOneMenu id="categoryName" value="#{editCategory.categoryName}" label="Kategoria">
                            <f:selectItem itemLabel="Wybierz kategorię" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{getCategories.categoriesMap}" />
                            <p:ajax listener="#{editCategory.getCategoryName}" 
                                    update=":accPanel:addCatForm :accPanel:editCategoryForm :accPanel:addPositionDialogForm"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Usuń" icon="ui-icon-check"
                                         actionListener="#{editCategory.removeCategory}"
                                         validateClient="true"
                                         update=":accPanel:editCategoryForm :accPanel:addPositionDialogForm"
                                         rendered="#{editCategory.isCategoryNameSet()}">
                            <p:confirm header="Usuwanie kategori" message="Czy na pewno chesz usunąć tę kategorię? Usunięte zostaną również wszystkie dania do niej należące" icon="ui-icon-alert" />
                        </p:commandButton>
                        <p:commandButton value="Znień nazwę" icon="ui-icon-extlink"
                                         actionListener="#{editCategory.renameCategoryDialog()}"
                                         rendered="#{editCategory.isCategoryNameSet()}">
                            <p:ajax event="dialogReturn" update=":accPanel:editCategoryForm"/>
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                            <p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                    </h:panelGrid>
                    <p:dataTable id="positionsTable"
                                 var="position"
                                 value="#{editCategory.positions}"
                                 emptyMessage="Kategoria jest pusta"
                                 rendered="#{editCategory.isCategoryNameSet()}">
                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>
                        <p:column headerText="Nazwa pozycji">
                            <h:outputText value="#{position.positionName}" />
                        </p:column>
                        <p:column headerText="">
                            <p:commandButton value="Usuń" icon="ui-icon-check"
                                             actionListener="#{editCategory.removePosition(position)}"
                                             validateClient="true"
                                             update=":accPanel:addCatForm :accPanel:editCategoryForm"/>
                        </p:column>
                        <p:rowExpansion>
                            <p:dataTable id="ingredientsTable" var="ingredient" value="#{editPosition.getIngredientsByPosition(position)}">
                                <p:column headerText="Składnik">
                                    <h:outputText value="#{ingredient.ingredientName}" />
                                </p:column>
                                <p:column headerText="waga (g)">
                                    <h:outputText value="#{ingredient.grams}" />
                                </p:column>
                                <p:column>
                                    <p:commandButton value="Usuń składnik" icon="ui-icon-check"
                                                     actionListener="#{editPosition.removeIngredient(position,ingredient)}"
                                                     validateClient="true"
                                                     update=":accPanel:addCatForm :accPanel:editCategoryForm:positionsTable:ingredientsTable"/>
                                </p:column>
                            </p:dataTable>
                            <p:commandButton value="Dodaj składnik" icon="ui-icon-extlink" actionListener="#{addIngredientDialog.addIngredientDialog(position)}">
                                <p:ajax event="dialogReturn" update=":accPanel:editCategoryForm:positionsTable:ingredientsTable" />
                            </p:commandButton>
                        </p:rowExpansion>
                    </p:dataTable>
                </h:form> 
                <h:form id="addPositionDialogForm">
                    <p:commandButton value="Dodaj danie"
                                     icon="ui-icon-extlink"
                                     actionListener="#{editCategory.addPositionDialog}"
                                     rendered="#{editCategory.isCategoryNameSet()}">
                        <p:ajax event="dialogReturn" update=":accPanel:addCatForm :accPanel:editCategoryForm"/>
                    </p:commandButton>
                </h:form>
            </p:tab>
        </p:accordionPanel>
    </h:body>
</html>

