<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     
    <h:head>

    </h:head>
     
    <h:body>
        <h:form>
            <p:messages autoUpdate="true"/>
            <h:panelGrid columns="2">
                <p:inputText id="newCategoryName" value="#{editCategory.tmpCategoryNameInDialog}" required="true" label="Nazwa składnika" />
            
<p:commandButton value="Zmień nazwę" actionListener="#{editCategory.renameCategory}" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>


