<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <form method="post" action="j_security_check" class="userForm">
            <h:panelGrid columns="2">
                
                <p:outputLabel value="Login " />
                <input type="text" id="j_username" name="j_username" />
                
                <p:outputLabel value="Hasło " />
                <input type="password" id="j_password" name="j_password" />
                
 
                <h:panelGrid columns="2">
                    <input type="submit" name="submit" value="Zaloguj" class="menuButton"/>
                    <h:button class="menuButton" value="Rejestracja" outcome="registration" />
                </h:panelGrid>
                
            </h:panelGrid>
            <br />
        </form>
    </h:body>
</html>
