<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>

        <h:form class="userForm">
            <h:messages/>

            <h3>Rejestracja</h3>
            <h:panelGrid columns="2" styleClass="panelGrid" rowClasses="panelFirstLine,panelNextLine" >
                <h:outputLabel for="userLogin" value="Login" />
                <h:inputText id="userLogin" value="#{createUserBean.user.login}" required="true" requiredMessage="Pole wymagane" />

                <h:outputLabel for="userName" value="Imię" />
                <h:inputText id="userName" value="#{createUserBean.user.name}" required="true" requiredMessage="Pole wymagane" />

                <h:outputLabel for="userPassword" value="Hasło" />
                <h:inputSecret id="userPassword" value="#{createUserBean.user.password}" />
            </h:panelGrid>
            <h:panelGrid columns="2">
                <h:commandButton action="#{createUserBean.save()}" value="Zapisz" />
                <h:button class="menuButton" value="Anuluj" outcome="login" />
            </h:panelGrid>
            <br/>
        </h:form>
    </h:body>
</html>